* text=auto !eol
/AUTHORS -text
/CMakeLists.txt -text
/COPYING -text
/Doxyfile -text
/EXAMPLE_podofobrowser.pro -text
/INSTALL -text
PoDoFoBrowser.app/Contents/Info.plist -text
/README -text
/README.WIN32.txt -text
/TODO -text
/build_win32.cmd -text
cmake/modules/FindLIBFONTCONFIG.cmake -text
cmake/modules/FindLIBFREETYPE.cmake -text
cmake/modules/FindLIBJPEG.cmake -text
cmake/modules/FindLIBPODOFO.cmake -text
cmake/modules/FindLIBSTLPORT.cmake -text
cmake/modules/FindZLIB.cmake -text
externals/README -text
/podofobrowser.svg -text
src/CMakeLists.txt -text
src/backgroundloader.cpp -text
src/backgroundloader.h -text
src/hexwidget/QHexView.cpp -text
src/hexwidget/QHexView.h -text
src/icons/CREDITS -text
src/icons/array.png -text
src/icons/bool.png -text
src/icons/dangling_reference.png -text
src/icons/deleteitem.png -text
src/icons/dictionary.png -text
src/icons/empty.png -text
src/icons/filenew.png -text
src/icons/fileopen.png -text
src/icons/filesave.png -text
src/icons/filesaveas.png -text
src/icons/fix_dangling_reference.png -text
src/icons/hexstring.png -text
src/icons/insert_child.png -text
src/icons/insert_elem_above.png -text
src/icons/insert_elem_below.png -text
src/icons/insert_key.png -text
src/icons/litstring.png -text
src/icons/name.png -text
src/icons/number.png -text
src/icons/podofobrowser_128.png -text
src/icons/podofobrowser_256.png -text
src/icons/podofobrowser_64.png -text
src/icons/real.png -text
src/icons/reference.png -text
src/icons/reload.png -text
src/main.cpp -text
src/pdfobjectmodel.cpp -text
src/pdfobjectmodel.h -text
src/podofoaboutdlg.ui -text
src/podofobrowser.cpp -text
src/podofobrowser.h -text
src/podofobrowserbase.ui -text
src/podofobrowserrsrc.qrc -text
src/podofofinddlg.ui -text
src/podofogotodlg.ui -text
src/podofogotopagedlg.ui -text
src/podoforeplacedlg.ui -text
src/podofoutil.cpp -text
src/podofoutil.h -text
src/qt.suppressions -text
templates/cpp -text
templates/h -text
/valgrind.suppressions -text
