/CMakeCache.txt
/CMakeFiles
/Makefile
/Makefile.Debug
/Makefile.Release
bin/libpodofo.dll
bin/podofobrowser.exe
bin/qt-mt3.dll
/cmake_install.cmake
/debug
/podofoaboutdlg.cpp
/podofoaboutdlg.h
/podofobrowserbase.cpp
/podofobrowserbase.h
/release
src/*.cmake
src/CMakeFiles
src/Makefile
src/Makefile.Debug
src/Makefile.Release
src/debug
src/libpodofo.dll
src/moc_podofobrowser.cxx
src/moc_ui_podofoaboutdlg.cxx
src/moc_ui_podofobrowserbase.cxx
src/podofoaboutdlg.cpp
src/podofoaboutdlg.h
src/podofobrowser.exe
src/podofobrowserbase.cpp
src/podofobrowserbase.h
src/release
src/ui_podofoaboutdlg.cpp
src/ui_podofoaboutdlg.h
src/ui_podofobrowserbase.cpp
src/ui_podofobrowserbase.h
/ui_podofoaboutdlg.h
/ui_podofobrowserbase.h
