* text=auto !eol
/AUTHORS -text
/CMakeLists.txt -text
/COPYING -text
/Doxyfile -text
/INSTALL -text
/README -text
cmake/modules/FindLIBFONTCONFIG.cmake -text
cmake/modules/FindLIBFREETYPE.cmake -text
cmake/modules/FindLIBJPEG.cmake -text
cmake/modules/FindLIBPODOFO.cmake -text
cmake/modules/FindZLIB.cmake -text
/podofobrowser.pro -text
src/CMakeLists.txt -text
src/icons/CREDITS -text
src/icons/array.png -text
src/icons/bool.png -text
src/icons/dangling_reference.png -text
src/icons/dictionary.png -text
src/icons/empty.png -text
src/icons/filenew.png -text
src/icons/fileopen.png -text
src/icons/filesave.png -text
src/icons/filesaveas.png -text
src/icons/hexstring.png -text
src/icons/litstring.png -text
src/icons/name.png -text
src/icons/number.png -text
src/icons/real.png -text
src/icons/reference.png -text
src/main.cpp -text
src/pdfobjectmodel.cpp -text
src/pdfobjectmodel.h -text
src/podofoaboutdlg.ui -text
src/podofobrowser.cpp -text
src/podofobrowser.h -text
src/podofobrowserbase.ui -text
src/podofobrowserrsrc.qrc -text
src/podofoutil.cpp -text
src/podofoutil.h -text
src/qt.suppressions -text
templates/cpp -text
templates/h -text
